/* DM Sans */

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");

/* color */
:root {
  --soft-red: hsl(10, 79%, 65%);
  --cyan: hsl(186, 34%, 60%);
  --dark-brown: hsl(25, 47%, 15%);
  --medium-brown: hsl(28, 10%, 53%);
  --cream: hsl(27, 66%, 92%);
  --very-pale-orange: hsl(33, 100%, 98%);
  --family: "DM Sans", sans-serif;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--family);
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
input,
button,
a {
  outline: none;
}
main {
  background-color: var(--cream);
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vh;
}
